body{
    color: #052f72 !important;
}

button{
	max-height: 100%;
    margin: 1em;
	box-shadow: 0px 10px 14px -7px  #052f72;
	background:#4190eb;
	border-radius:8px !important;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  button:hover {
    background: #052f72 !important;
    transition-duration: 1s;
  }
  button:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

#cameraDiv{
	text-align: center;
	margin: 0.5em;
	justify-content: space-evenly;
}

#overlay{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1em;
}

.centerPage{
	text-align: center;
	text-align: -webkit-center;
  text-align: -moz-center;
}

.chooseJob, .feedbackQ{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
	text-align: -webkit-center;
  text-align: -moz-center;
}

.registerPage, .loginPage, .chooseJobForm, #vidSel{
	display: table-caption;
}

.loginPage input, .registerPage input, .chooseJobForm input{
	border-radius: 8px;
	text-align: center;
}

.loginPage button, .registerPage button{
	margin-top: 0.5em;
}
.profilePage ul{
	list-style-type: none;
}

.profilePage{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profileRight{
  grid-column: 3;
  grid-row: 1;
}
.profileLeft{
grid-column: 1 / span 2;
grid-row: 1;
}

.profilePadding h4, .profilePadding h5{
  padding-left: 40px;
}

#nextQButton{
	margin-bottom: 0.5em;
	height: 100%;
}

#vids video{
  margin: 1em;
}



/*Nav Hover*/
.nav-link{
    color: whitesmoke !important;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(108,108,107);
    background: linear-gradient(0deg, rgba(108,108,107,0.45702030812324934) 0%, rgba(200,200,200,0.49343487394957986) 100%);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav-link:hover {
    color: #333436 !important;
    transition-duration: 0.3s;
  }
  .nav-item:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/*END*/
